@tailwind base;
@tailwind components;
@tailwind utilities;


/* D1A054 */
/* .bg-base-200 {
    background-color: #D1A054;
} */

/* .drawer-side a {
    background-color: transparent;
}

.drawer-side a.active {
    color: white;

} */

body {
    background-color: #0f1d22;
}


.menu li>*:not(ul):not(.menu-title):not(details):active,
.menu li>*:not(ul):not(.menu-title):not(details).active,
.menu li>details>summary:active {
    background-color: transparent;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=Dancing+Script:wght@400;500;600;700&family=Great+Vibes&family=Oleo+Script:wght@400;700&display=swap');

/* font-family: 'Cinzel', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Oleo Script', system-ui; */

.heading_titel {
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
    font-family: 'Cinzel', serif;
    font-weight: 500;
}