@tailwind base;
@tailwind components;
@tailwind utilities;


/* D1A054 */
/* .bg-base-200 {
    background-color: #D1A054;
} */

/* .drawer-side a {
    background-color: transparent;
}

.drawer-side a.active {
    color: white;

} */


.menu li>*:not(ul):not(.menu-title):not(details):active,
.menu li>*:not(ul):not(.menu-title):not(details).active,
.menu li>details>summary:active {
    background-color: transparent;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
header {
    font-family: 'Cinzel', serif;
    font-weight: 500;
}